<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <!-- Update the ClientID and RedirectUri if required -->
    <add key="ClientID" value="4c6b1252-02ef-4b07-9f09-29e9e9aa23c7" />
    <add key="RedirectUri" value="https://localhost/CampaignContributionsDemo" />
  </appSettings>
</configuration>



