<div class="row">
  <div class="container">

    <div class="row row-offcanvas row-offcanvas-left">

      <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
        <nav id="left-nav" class="navbar" role="navigation">
          <div id="left-nav-title">Load a Report</div>
          <ul class="nav navbar-nav">
            <li class="nav navbar-link" ng-repeat="report in vm.reports">
              <a ng-href='/reports' ng-click='vm.loadReport(report.id)' >{{report.name}}</a>
              <button ng-click='vm.loadReport(report.id)'>{{report.name}}</button>
              <button ng-click='console.log("Test 2")' >Test</button>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-xs-12 col-sm-10">
        <div id="pbi-report" >loading report...</div>
      </div>

    </div>
  </div>
</div>
