<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>    
    
    <add key="tenant-name" value="MY_TENANT.onmicrosoft.com" />
    <add key="client-id" value="" />
    <add key="reply-url" value="https://localhost/app1234" />

    <add key="workspace-id" value="" />
    
    <add key="user-name" value="user1@devinaday2019.onMicrosoft.com" />
    <add key="user-password" value="" />

  </appSettings> 
 
</configuration>